@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --border-search: #BFC9D9;
    --border-header: #F0F3F7;
    --green: #00AA5B;
    --green-dark: #00884A;
    --font-color: #333;
    --bg-color: #f7f7f7;
    --white: #fff;
    --gray: #ccc;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

header {
    height: 3.5rem;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-header);
    background-color: var(--white);
    margin-bottom: 1.2rem;
}

#header-left, #header-right {
    flex: 1;
}

#header-left, #header-mid, #header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-left img {
    height: 40px;
    cursor: pointer;
}

#header-mid {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-container {
    width: 70%;
    max-width: 70%;
    height: 2rem;
    padding: 1rem 1rem;
    background-color: var(--white);
    border: 1px solid var(--border-search);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.fa-search {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    color: var(--border-search);
}

#search-container input {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
}

#header-right {
    position: relative;
}

#hello {
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 0.25rem 0.5rem;
}

#dropdown-menu {
    position: absolute;
    top: 100%;
    left: -0.5rem;
    background-color: var(--white);
    border: 1px solid var(--border-header);
    box-shadow: var(--box-shadow);
    z-index: 1;
    width: 100%;
    animation: slide-down 0.3s ease-in-out forwards;
    border-radius: 5px;
}

#dropdown-menu span {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

#dropdown-menu span:hover {
    background-color: var(--bg-color);
}

.hello-in {
    animation: hello-in 0.2s ease-in-out forwards;
}

@keyframes hello-in {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(191, 201, 217, 0.8);
    }
}

.hello-out {
    animation: hello-out 0.2s ease-in-out forwards;
}

@keyframes hello-out {
    from {
        background-color: rgba(191, 201, 217, 0.8);
    }
    to {
        background-color: transparent;
    }
}

#cart {
    margin-right: 1rem;
    cursor: pointer;
}

#header-right :first-child, #header-right :last-child {
    margin: 0 0.5rem;
}


body {
    background-color: var(--white);
    font-family: Arial, sans-serif;
    height: fit-content;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    color: var(--green);
    text-align: center;
    margin: 20px 0;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto 0;
}

table, th, td {
    border: 1px solid var(--green);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--green);
    color: var(--white);
}

button {
    background-color: var(--green);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--green-dark);
}

/* footer */
footer {
    width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2rem 4rem;
    justify-content: space-between;
    border-top: 2px solid var(--border-header);
    margin-top: 1.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

h2 {
    font-weight: 700;
    margin-bottom: 0.3rem;
}

#footer-right {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#footer-right-logo {
    width: 250px;
    height: 121px;
    align-self: flex-end;
}

#footer-right-logo > img {
    width: 100%;
    height: 100%;
}

#to-download {
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

ul > li {
    cursor: pointer;
}

.li-in {
    animation: li-in 0.2s ease-in-out forwards;
}

@keyframes li-in {
    from {
        color: rgba(0, 0, 0, 1);
    }
    to {
        color: rgba(0, 170, 91, 1);
    }
}

.li-out {
    animation: li-out 0.2s ease-in-out forwards;
}

@keyframes li-out {
    from {
        color: rgba(0, 170, 91, 1);
    }
    to {
        color: rgba(0, 0, 0, 1);
    }
}
